/* Universal Styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    overflow-x: hidden;
}


a {
    text-decoration: none; 
    color: black;
}


/* Header Section */
header {
    position: sticky;
    top: 0;
    width: 100%;
    justify-content: space-between;
    background: white;
    z-index: 1;
}

header.scrolled{
    display: flex;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.logo-container.scrolled {
    align-items: flex-start;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.logo-text {
    position: absolute;
    text-align: center;
    font-size: 2.5rem; 
    z-index: 10;
}

.logo-text.scrolled{
    font-size: 2rem;
    text-align: center;
    max-width: 200px;
    line-height: 0.8;
    padding: 0.5rem 0 0.5rem 0;
}

.denmark-flag-map {
    height: auto;
    width: 15%;
    opacity: 40%;
    margin-left: 5%;
}

.denmark-flag-map.scrolled {
    width: 100px;
    /* margin-left: 25px; */
}

/* Navigation */
nav {
    /* border: solid 2px blue; */
    width: 100%;
    height: auto;
}

.nav__list{
    /* border: solid 1px green; */
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.nav__list.scrolled {
    margin-top: 1rem;
    justify-content: flex-end;
}

.nav__list-item {
    /* border: solid pink; */
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    width: 200px;
    height: 4rem;
}

.nav__list-item.scrolled {
    width: 150px;
    font-size: 1.3rem;
}

.nav__link {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 1s ease;
}

.nav__link:hover {
    background: rgb(247, 157, 157);
    color: white;
}

/* Hero Image */
.positioner {
    height: 100px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.hero-image {
    /* border: solid 2px red; */
    position: relative;
    /* top: 0; */
    width: 100%;

}

.hero-image img {
    width: 100%;
    height: auto;
    max-height: 675px;
    margin-top: -100px;
}

/* About section */
.about {
    /* border: solid 1px blue; */
    position: relative;
    display: flex; 
    height: 400px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
    padding: 2rem 4rem;
    opacity: 0;
}

.about__left {
    /* border: solid 1px purple; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__heading {
    margin-bottom: 2rem;
    font-size: 2rem;
}

.about__text {
    font-size: 1.2rem;
}

.about__image {
    width: 400px;
    height: auto;
}

/* Booking */
.booking {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: rgb(247, 157, 157);
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 75px;
    border: solid white 2px;
    font-size: 1.2rem;
    font-weight: bold; 
    color: white;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(196, 30, 30);
    
  }
  
  button:active, button:focus {
    outline: none;
  }
  
  button:hover {
    color: rgb(196, 30, 30);;
    box-shadow: 0px 4px 8px 1px #000;
    transition: all 0.3s ease;
  }
  
  
  button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  /*   background: url() no-repeat;
  ); */
    background: white;
    transition-property: width border-radius;
    transition-duration: 0.4s;
    z-index: -1;
  
  }
  
  
  button:hover::after {
    width: 120%;
    border-radius: 8px;
  }
/* Destinations */
.destinations {
    margin: 4rem; 
}

.destinations__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.destinations__content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 1rem;
}

.destinations__heading {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.destinations__text {
    font-size: 1.2rem;
}

.destinations__img {
    width: 450px;
    height: auto;
    max-height: 600px;
    margin: 1rem;
}

#odd-row {
    flex-direction: row-reverse
}

/* Footer */
footer {
    background: rgb(196, 30, 30);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.footer__logo-container {
    /* border: solid black 2px; */
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logo-text {
    position: absolute;
    color: white;
    font-size: 2rem;
    text-align: center;
    z-index: 10;
}

.footer__denmark-flag-map {
    /* border: solid 2px black; */
    width: 200px;
    height: auto;
    filter: invert(30%);
    transform: translateX(30%);
    opacity: 90%;
}

.footer__address {
    color: white;
    text-align: center;
}

/* Intersection Observer styles */
.fade-in {
    opacity: 0; 
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: opcacity 250ms ease-in, 
  transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear, .from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

